//login-signup
.app-logo {
  width: 40%;
  margin: 20% auto;

  img {
    width: 100%;
  }
}

.login-form {
  padding: 0px 25px;

  span {
    margin: 10px 0px 3px;
    color: $app-color;
    width: 100%;
    max-width: none;
  }

  input {
    border: 1px solid $app-color;
    padding-left: 15px;
    color: $app-color;
    @extend .lato-regular;
  }

  textarea {
    border: 1px solid $app-color;
    padding-left: 15px;
    color: $app-color;
    @extend .lato-regular;
  }

  textarea::placeholder {
    color: $app-color;
    @extend .lato-regular; // color: black;
  }

  input::placeholder {
    color: $app-color;
    @extend .lato-regular; // color: black;
  }
}

.contact-number {
  margin: 10px 0px 3px;
}

.forgot-pass-username {
  font-size: 14px !important;
  @extend .lato-regular;
}

.dont-acc {
  text-align: center;
  margin-top: 10%;

  label {
    color: $app-color;
    @extend .lato-regular;
  }

  span {
    @extend .lato-bold;
    color: $app-color1;
  }
}


//otp
.otp-msg {
  padding: 15px 48px;
  font-size: 16px;
  color: $app-color;
  @extend .lato-regular;
}

.otp-input {
  border: 1px solid #E42229 !important;
  border-radius: 15px;
  text-align: center;
  width: 106px;
  /* padding: 0px 10px; */
  margin: 0 auto;
  height: 32px;
  margin-top: 30px;

  input {
    display: inline;
    width: 10px;
    margin-right: -3px !important;
    padding: 0px;
    text-align: center;
    color: #E42229;
    font-size: 20px;
    height: 30px;
    margin: 0 auto;
  }


  input::placeholder {
    color: $app-color1;
    opacity: 0.4;
    font-size: 20px;
    margin: auto 0;
    vertical-align: middle;
    @extend .lato-regular; // color: black;
  }
}


//create account
.createacc-msg {
  padding: 0px 48px 24px !important;
}

.continue-btn {
  margin: 25px auto;
  width: 85%;

  button {
    background: $app-color1;
    color: white;
    @extend .lato-bold;
  }

  .button.active,
  .button.activated {
    background: $app-color1;
    color: white;
  }
}

//add-information
.skip {
  padding-right: 10px;
}

.upload-camera {
  width: 56px;
  margin: 0 auto;
  height: 56px;
  border: 1px solid;
  border-radius: 28px;
  overflow: hidden;
  text-align: center;
  color: $app-color;

  img {
    width: 56px;

  }

  i {
    line-height: 56px;
    font-size: 20px;
  }
}

.gsdt-addr {
  padding: 20px 25px 0px;
  color: $app-color;
  width: 100%;
  max-width: none;
}

.state-city-div {
  padding: 8px;
  background: #FAFAFA;
  border: 1px solid $app-color !important;

  input {
    color: #494949;
    height: 24px; // height: 30px !important;
    padding: 0px 15px 0 0 !important;
    border: none;
    background: #FAFAFA;
    color: #494949;
    direction: ltr !important;
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 5px;
    border-radius: 0px !important;
    border: none;
    @extend .lato-medium;
  }

  input::placeholder {
    color: #494949;
    font-size: 12px;
    background: #FAFAFA;
    @extend .lato-medium;
  }
}

.state-city-dropDown {
  .item-select {
    padding: 15px 0px;
    margin-bottom: 0px;
    border: none;
  }

  .item-select select {
    width: 100% !important;
    max-width: 100% !important;
    direction: ltr;
    padding: 0 24px 0 16px;
    color: $app-color;
    @extend .lato-medium;
  }

  .item-select:after {
    right: 11px;
    color: $app-color;
  }
}

//subscription css
.sub-price {
  text-align: center;
  font-size: 40px;
  color: $app-color;
  @extend .lato-bold;
}

.buynow-btn {
  margin: 48px auto 22px;
  width: 162px;
  height: 40px;

  button {
    height: 40px;
    margin-bottom: 22px;
    background: $app-color1;
    color: $light !important;
    @extend .lato-bold;
  }

  .button.active,
  .button.activated {
    background: $app-color1;
    color: white;
  }
}



.trial-btn {
  border: 2px solid $app-color1;
  width: 162px;
  height: 44px;
  margin: 0px auto;
  border-radius: 5px;

  button {
    height: 40px;
    min-height: 40px;
    margin: 0px !important;
    color: $app-color1 !important;
    @extend .lato-bold;
    line-height: 36px;
  }

  .button.active,
  .button.activated {
    background: $light;
  }
}

//buyer-seller
.select-checkbox {
  margin: 20px 15px;

  .item-checkbox {
    background: $app-color;
    border-radius: 10px;
  }

  .checkbox.checkbox-input-hidden input {
    width: 24px;
    height: 24px;
    top: 2px;
  }

  .checkbox input:checked:before,
  .checkbox input:checked+.checkbox-icon:before {
    border-radius: 5px;
    background: transparent;
  }

  .checkbox input:before,
  .checkbox-icon:before {
    width: 24px;
    height: 24px;
    border: 2px solid $light !important;
    border-radius: 5px;
    background: transparent;
  }

  .checkbox input:after,
  .checkbox-icon:after {
    -webkit-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 22%;
    left: 22%;
    display: table;
    width: 14px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
  }

  .item-content {
    height: 24px;
    line-height: 18px;
  }

  span {
    color: $light !important;
    font-size: 20px;
    @extend .lato-medium;
  }
}

.seller-buyer-btn {
  margin: 106px auto;
  width: 173px;
  height: 51px;

  button {
    height: 51px;
    min-height: 51px;
    margin-bottom: 22px;
    background: $app-color1;
    color: $light !important;
    @extend .lato-bold;
  }

  .button.active,
  .button.activated {
    background: $app-color1;
    color: $light;
  }
}

//seller-type css
.seller-type-text {
  margin: 11px 7px;
  color: $light;
  background: $app-color1;
  padding: 10px 20px;
  @extend .lato-medium;
  font-size: 16px;
}

.seller-type-access {
  background: $app-color;
}

.seller-type-btn {
  margin: 79px auto;
}

//footer class
.login-btn {

  background: $app-color1 !important;

  button {
    background: #E42229;
    border: none;
    margin: 0 auto;
    color: white;
    @extend .lato-bold;
    font-size: 16px;
  }
}
