<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="bar bar-header">
      <button class="button button-icon icon ion-arrow-left-c app-color"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div>
      <div class="text-center mb-15">
        <div class="row">
          <div class="col-67">
            <h5 class="app-color lato-bold text-right fnt-15">Upload profile photo</h5>
          </div>
          <div class="col-33 ">
            <h5 for="" class="lato-medium text-right app-color1 fnt-15 skip">Skip</h5>
          </div>
        </div>
        <div class="upload-camera">
          <!-- <img ng-src="img/login-signup/download.png" alt=""> -->
          <i class="ion ion-camera"></i>
        </div>
      </div>
      <div class="list">
        <label class="login-form item-input item-stacked-label">
          <span class="input-label lato-bold">Full Name</span>
          <input type="text" placeholder="John Doe">
        </label>
        <label class="login-form item-input item-stacked-label">
          <span class="input-label lato-bold">Company Name</span>
          <input type="text" placeholder="ABCD COMPANY">
        </label>
        <label class="login-form item-input item-stacked-label">
          <div class="contact-number">
            <span class="input-label lato-bold inline">Contact number</span>
            <span class="lato-bold fnt-12">(whatsapp number to chat with buyer)</span>
          </div>
          <input type="number" placeholder="9876543210">
        </label>
        <label class="login-form item-input item-stacked-label">
          <span class="input-label lato-bold">GST Number</span>
          <input type="number" placeholder="1234567890">
        </label>
        <div class="gsdt-addr">
          <span class=" lato-bold">Registered GST Address</span>
        </div>
        <label class="login-form item-input item-stacked-label">
          <span class="input-label lato-bold">Street Name</span>
          <textarea name="" id="" id="" cols="4" rows="6" placeholder="Calfornia"></textarea>
        </label>
        <div class="row login-form mt-10">
          <div class="col  state-city-dropDown">
            <div class="pb-5 lato-bold app-color fnt-16">
              State
            </div>
            <div class="list item item-input item-select state-city-div">
              <select ng-model="cart.warehouse" required>
                <option value="">Roseville</option>
                <option ng-repeat="warehouse in wareHouses" value="{{warehouse}}">{{warehouse.name}}</option>
                <!-- <option>Green</option>
              <option>Red</option> -->
              </select>
            </div>
            <span class="errorMsg" ng-show="warehouseValid">Please select the Warehouse</span>
          </div>
          <div class="col  state-city-dropDown">
            <div class="pb-5 lato-bold app-color fnt-16">
              City
            </div>
            <div class="list item item-input item-select state-city-div">
              <select ng-model="cart.warehouse" required>
                <option value=""></option>
                <option ng-repeat="warehouse in wareHouses" value="{{warehouse}}">{{warehouse.name}}</option>
                <!-- <option>Green</option>
                <option>Red</option> -->
              </select>
            </div>
            <span class="errorMsg" ng-show="warehouseValid">Please select the Warehouse</span>
          </div>
        </div>
        <label class="login-form item-input item-stacked-label">
          <span class="input-label lato-bold">Country</span>
          <input type="text" placeholder="497 Evergreen Rd.">
        </label>
        <!-- <h5 class="gsdt-addr">Registered GST Address</h5> -->
        <div class="continue-btn" ui-sref="subscription">
          <button class="button button-block ">
            Continue
          </button>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
