<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="bar bar-header">
      <button class="button button-icon icon ion-arrow-left-c app-color"></button>
    </div>
  </ion-header-bar>
  <ion-pane class="mt-60">
    <div class="otp">
      <div class="text-center">
        <h3 class="app-color lato-bold">Sign In</h3>
      </div>
      <div class="text-center otp-msg ">
        Enter the code you have received by SMS in order to verify account.
      </div>
      <div class="otp-input">
        <input type="password" placeholder="&#8226" class="">
        <input type="password" placeholder="&#8226" class="">
        <input type="password" placeholder="&#8226" class="">
        <input type="password" placeholder="&#8226" class="">
      </div>
    </div>

  </ion-pane>
</ion-view>
