<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header search-input ">
        <button class="button button-icon icon ion-arrow-left-c white"></button>
        <label class="item-input-wrapper">
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-icon icon ion-android-mixer">
        </button>
      </div>
    </div>

  </ion-header-bar>
  <ion-content class="has-header-bar ">
    <div class="mt-10" ng-click="openSortProductModal()">
      <div class="padlr10 shirt-types">
        <div class="custom-bullet"></div>
        <label for="" class="shirt-list">Checks</label>
      </div>
      <div class="row mtb-10">
        <div class=" col-50">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt1.jpg" alt="">
          </div>
          <div class="mar-l10">
            <div class="shirt-design-name">Excepteur sint</div>
            <div class="design-no">Design No.1339</div>
          </div>

        </div>
        <div class=" col-50 ">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt2.jpg" alt="">
          </div>
          <div class="mar-l10">
            <div class="shirt-design-name">Excepteur sint</div>
            <div class="design-no">Design No.1339</div>
          </div>

        </div>
      </div>
      <div class="row mtb-10">
        <div class=" col-50">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt1.jpg" alt="">
          </div>
          <div class="mar-l10">
            <div class="shirt-design-name">Excepteur sint</div>
            <div class="design-no">Design No.1339</div>
          </div>

        </div>
        <div class=" col-50 ">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt2.jpg" alt="">
          </div>
          <div class="mar-l10">
            <div class="shirt-design-name">Excepteur sint</div>
            <div class="design-no">Design No.1339</div>
          </div>

        </div>
      </div>
    </div>
    <div class="row mtb-10">
      <div class=" col-50">
        <div class="category-img rel">
          <img class="" ng-src="img/shirt/shirt1.jpg" alt="">
        </div>
        <div class="shirt-design-name">Excepteur sint</div>
        <div class="design-no">Design No.1339</div>
      </div>
      <div class=" col-50 ">
        <div class="category-img rel">
          <img class="" ng-src="img/shirt/shirt2.jpg" alt="">
        </div>
        <div class="mar-l10">
          <div class="shirt-design-name">Excepteur sint</div>
          <div class="design-no">Design No.1339</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
