<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header search-input ">
        <button class="button button-icon icon ion-arrow-left-c white"></button>
        <label class="item-input-wrapper">
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-icon icon ion-android-mixer">
        </button>
      </div>
    </div>

  </ion-header-bar>
  <ion-content class="has-header-bar">
    <div class="supplier-profile">
      <a class="item item-thumbnail-right">
        <img ng-src="img/shirt/shirt1.jpg">
        <h2>A. K. Enterprises</h2>
        <p>Supplier of Shirtings</p>
        <p>Mumbai, Maharashtra</p>
      </a>
      <div class="post-product">
        <button class="button button-block ">
          Post your product
        </button>
      </div>
    </div>
    <div ng-click="openSortProductModal()">
      <div for="" class="all">All</div>
      <div class="padlr10 shirt-types">
        <div class="custom-bullet"></div>
        <label for="" class="shirt-list">Checks</label>
        <div class="count">
          2 months ago
        </div>
      </div>


      <div class="row mtb-10">
        <div class=" col-33 ">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt1.jpg" alt="">
          </div>
          <label for="" class="shirt-design-name">Excepteur sint</label>
          <label for="" class="design-no">Design No.1339</label>
        </div>
        <div class=" col-33 ">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt2.jpg" alt="">
          </div>
          <label for="" class="shirt-design-name">Excepteur sint</label>
          <label for="" class="design-no">Design No.1339</label>
        </div>
        <div class=" col-33 text-center">
          <div class="category-img add-product-div rel">

            <i class="ion ion-plus-circled"></i>
            <div for="">Add Your Product</div>
          </div>
        </div>

      </div>
      <button class="see-all">See all</button>
    </div>
    <div ng-click="openSortProductModal()">
      <div class="padlr10 shirt-types">
        <div class="custom-bullet"></div>
        <label for="" class="shirt-list">Denim</label>
        <div class="count">
          2 months ago
        </div>
      </div>


      <div class="row mtb-10">
        <div class=" col-33 ">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt1.jpg" alt="">
          </div>
          <label for="" class="shirt-design-name">Excepteur sint</label>
          <label for="" class="design-no">Design No.1339</label>
        </div>
        <div class=" col-33 ">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt2.jpg" alt="">
          </div>
          <label for="" class="shirt-design-name">Excepteur sint</label>
          <label for="" class="design-no">Design No.1339</label>
        </div>
        <div class=" col-33 text-center">
          <div class="category-img  rel">
            <img class="" ng-src="img/shirt/shirt2.jpg" alt="">
          </div>
        </div>

      </div>
      <button class="see-all">See all</button>
    </div>
  </ion-content>
</ion-view>
