<div class="modal-bg">
  <div class="modal-backdrop active">
    <div class="modal-backdrop-bg"></div>
    <div class="modal-wrapper">
      <ion-modal-view class="">
        <ion-header-bar class="">
          <button class="ion ion-close sort-products" ng-click="closeSortProductModal()"></button>
          <div class="h1 title">SORT PRODUCT</div>
        </ion-header-bar>
        <ion-content class="has-header-bar">
          <div class="sort-modal">
            <div class="custom-bullet"></div>
            <label for="" class="shirt-list">All</label>
          </div>
          <div class="sort-modal">
            <div class="custom-bullet1"></div>
            <label for="" class="shirt-list1">Lorem Ipsum Lorem Ipsum</label>
          </div>
          <div class="sort-modal">
            <div class="custom-bullet1"></div>
            <label for="" class="shirt-list1">Lorem Ipsum Lorem Ipsum</label>
          </div>
          <div class="sort-modal">
            <div class="custom-bullet1"></div>
            <label for="" class="shirt-list1">Lorem Ipsum Lorem Ipsum</label>
          </div>
          <div class="sort-modal">
            <div class="custom-bullet1"></div>
            <label for="" class="shirt-list1">Lorem Ipsum Lorem Ipsum</label>
          </div>
        </ion-content>
      </ion-modal-view>
    </div>
  </div>
</div>
