<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header ">
        <button class="button button-icon icon ion-arrow-left-c white"></button>
        <h1 class="title white ">Category</h1>
      </div>
    </div>

  </ion-header-bar>
  <ion-content class="has-header">
    <div class="category-head">
      Choose minimum one category that represents what product you sell
    </div>
    <div>
      <div class="row">
        <div class=" col-33 text-center">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt1.jpg" alt="">
            <label for="" class="category-name">Checks</label>
          </div>

        </div>
        <div class=" col-33 text-center">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt2.jpg" alt="">
            <label for="" class="category-name">Denim</label>
          </div>

        </div>
        <div class=" col-33 text-center">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt3.jpg" alt="">
            <label for="" class="category-name">Indigo</label>
          </div>

        </div>
      </div>
      <div class="row">
        <div class=" col-33 text-center">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt4.jpg" alt="">
            <label for="" class="category-name">Print</label>
          </div>

        </div>
        <div class=" col-33 text-center">
          <div class="category-img rel">
            <img class="" ng-src="img/shirt/shirt5.jpg" alt="">
            <label for="" class="category-name">Stripes</label>
          </div>

        </div>
        <div class=" col-33 text-center">
          <div class="category-img rel">
            <!-- <img class="" ng-src="img/shirt/shirt3.jpg" alt=""> -->
          </div>

        </div>
      </div>
      <div class="explore-btn">
        <button class="button button-block ">
          Explore
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
