<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header ">
        <button class="button button-icon icon ion-arrow-left-c white"></button>
        <h1 class="title white ">Product Details</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="row">
      <div class="col-90">
        <div class="product-name">
          <h4 class="mar0">Excepteur sint occaecat.</h4>
          <label for="">Design Number:</label>
          <span> Stp012475896</span>
        </div>
      </div>
      <div class="col-10 text-center mar-auto0 ">
        <i class="ion ion-gear-a product-name-settings"></i>
      </div>
    </div>
    <div class="slider-div">
      <ion-slides class="ionslide sliderbutton swipperbutton" options="sliderData.sliderOptions" slider="sliderData.sliderDelegate">
        <ion-slide-page>
          <div class="slider-image">
            <img class="img-responsive" src="img/shirt/shirt1.jpg" alt="">
          </div>
        </ion-slide-page>

        <ion-slide-page>
          <div class="slider-image">
            <img class="img-responsive" src="img/shirt/shirt2.jpg" alt="">
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>

  </ion-content>
</ion-view>
